Value Filldown BGP_ID (\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
Value Filldown LOCAL_AS (\d+)
Value NEIGHBOR (\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
Value AS (\d+)
Value UP_DOWN (\S+)
Value STATE_PREFIC_RCVD (\S+)

Start
  ^BGP router identifier ${BGP_ID}\, local AS number ${LOCAL_AS}\s*$$
  ^Neighbor.*PfxRcd.*$$ -> BGPTable

BGPTable
  ^${NEIGHBOR}\s+4\s+${AS}\s+\d+\s+\d+\s+\d+\s+\d+\s+\d+\s+${UP_DOWN}\s+${STATE_PREFIC_RCVD} -> Record

